<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GINO BLOG</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
         <header class="container center-align">
             <h2>Gino Media Blogs</h2>
         </header>
         <div class="container">
             {% block content %}
             {% endblock %}

             <br>
             <a style="display: block" class="center-align" href="/admin">Admin Login</a>
         </div>
         <style>
            h2{
                color: #ff8040;
                text-align: center;
            }
            a {
                text-align: center;
            }
            h3 {
                text-align: center;
                color: #800000;
            }
         </style>


    </body>
</html>
